@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Cabeçalho da página -->
<section class="content-header">
    <h1>
        Clientes
        <small>Lista de clientes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-user"></i> Home</a></li>
        <li class="active">Clientes</li>
    </ol>
</section>

<!-- Conteúdo principal -->
<section class="content">
    <!-- Box padrão -->
    <div class="box">
        <div class="box">
            <!-- Cabeçalho do box -->
            <div class="box-header" style="padding-bottom: 0px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-8" style="padding-left: 0px;">

                            <div class="col-md-12" style="padding-left: 0px;">
                                <div class="box box-default box-solid collapsed-box" style="margin-bottom: 0px;">
                                    <div class="box-header with-border" style="padding-bottom: 5px; padding-top: 5px;">
                                        <h3 class="box-title">Filtros</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse" style="padding-top: 0px; padding-bottom: 0px;">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" id="modalFiltro" style="">

                                        <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="filtroPF">Somente PF</label><br />
                                                    <input type="checkbox" id="filtroPF" checkBox="1" value="false" default="true" name="filtroPF" filtro="1" reload="tabelaClientes">
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="filtroPJ">Somente PJ</label><br />
                                                    <input type="checkbox" id="filtroPJ" checkBox="1" value="false" default="true" name="filtroPJ" filtro="1" reload="tabelaClientes">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="filtroSemProcessoAndamento">Clientes sem nenhum vínculo com algum caso</label><br />
                                                <input type="checkbox" id="filtroSemProcessoAndamento" checkBox="1" value="false" default="true" name="filtroSemProcessoAndamento" filtro="1" reload="tabelaClientes">
                                            </div>
                                        </div>

                                        <div class="col-sm-8">
                                        </div>
                                        <div class="col-sm-2" style=" text-align: right;">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-default" id="btnLimparFiltro" style="text-align: right">
                                                    <i class="fa fa-reply-all"></i>
                                                    Limpar filtros
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4" id="colAdd" style=" text-align: right; padding-right: 0;">
                            <!-- Botão de adicionar -->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAdd" id="btnAdd" style="text-align: right">
                                <i class="fa fa-plus"></i>
                                Adicionar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" id="tabela">
                <!-- Tabela -->
                <table id="tabelaClientes" class="table table-bordered table-striped">
                    <thead>
                        <!-- Colunas da tabela -->
                        <tr>
                            <th>Nome/Razão Social</th>
                            <th>Sexo</th>
                            <th>Data de nascimento/Início</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Nome/Razão Social</th>
                            <th>Sexo</th>
                            <th>Data de nascimento/Início</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- modal para adição/edição -->
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" url="http://localhost:51485/api/clienteCrud/SaveCliente" reload="tabelaClientes">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar clientes</h4>
                </div>

                <div class="box-body">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="hidden" id="IdEdit" name="Id" value="0">
                            <label for="inputNome">Nome/Razão Social</label>
                            <input type="text" class="form-control" required name="Nome" id="inputNome" placeholder="Digite o nome completo">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="comboSexo">Sexo</label>
                            <select class="form-control" id="comboSexo" required name="Sexo" placeholder="Selecione o sexo">
                                <option value="">Escolha...</option>
                                <option value="1">Masculino</option>
                                <option value="2">Feminino</option>
                                <option value="3">Não informado</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="datepicker">Data de nascimento/início</label>
                            <input type="text" class="form-control pull-right" name="DescricaoDataNascimento" id="datepicker" placeholder="Selecione a data">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="imputTelefone">Telefone</label>
                            <input type="text" class="form-control" name="Telefone" id="imputTelefone" placeholder="Digite o telefone fixo">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="imputCelular">Celular</label>
                            <input type="text" class="form-control" name="Celular" id="imputCelular" placeholder="Digite o celular">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="imputCPF">CPF</label>
                            <input type="text" class="form-control" name="CPF" id="imputCPF" placeholder="Digite o CPF">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="imputCPF">CNPJ</label>
                            <input type="text" class="form-control" name="CNPJ" id="imputCNPJ" placeholder="Digite o CNPJ">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="imputEmail">Email</label>
                            <input type="text" class="form-control" name="Email" id="imputEmail" placeholder="Digite o email">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Endereço</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="">

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="hidden" id="IdEditEndereco" name="IdEndereco" value="0">
                                        <label for="inputCEP">CEP</label>
                                        <input type="text" class="form-control" name="CEP" id="inputCEP" placeholder="Digite o CEP">
                                    </div>
                                </div>

                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="inputCidade">Cidade</label>
                                        <input type="text" class="form-control" name="Cidade" id="inputCidade" placeholder="Digite a cidade">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="hidden" id="hidden" placeholder="Digite o endereço">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="inputEndereco">Endereço</label>
                                        <input type="text" class="form-control" name="InfoEndereco" id="inputEndereco" placeholder="Digite o endereço">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="imputNumero">Número</label>
                                        <input type="text" class="form-control" name="Numero" id="imputNumero" placeholder="Digite o Número">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="inputBairro">Bairro</label>
                                        <input type="text" class="form-control" name="Bairro" id="inputBairro" placeholder="Digite o bairro">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputComplemento">Complemento</label>
                                        <input type="text" class="form-control" name="Complemento" id="inputComplemento" placeholder="Digite o complemento">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="inputObservacao">Observações</label>
                                        <textarea class="form-control" rows="3" name="Observacao" placeholder="Digite alguma observação"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" url="http://localhost:51485/api/clienteCrud/RemoveCliente" reload="tabelaClientes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Remover cliente</h4>
                </div>

                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Deseja mesmo excluir este registro?</label>
                            <input type="hidden" id="IdRemove" name="Id">
                        </div>
                    </div>

                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $('#filtroPF').bootstrapToggle({
            on: "Sim",
            off: "Não",
            width: 182
        }).change(function () { this.value = $(this).prop('checked'); });
        $('#filtroPJ').bootstrapToggle({
            on: "Sim",
            off: "Não",
            width: 182
        }).change(function () { this.value = $(this).prop('checked'); });
        $('#filtroSemProcessoAndamento').bootstrapToggle({
            on: "Sim",
            off: "Não",
            width: 182
        }).change(function () { this.value = $(this).prop('checked'); });

        $('#imputTelefone').inputmask({ "mask": "(99) 9999-9999" });
        $('#imputCelular').inputmask({ "mask": "(99) 9 9999-9999" });
        $('#datepicker').inputmask({ "alias": "dd/mm/yyyy" });
        $('#imputCPF').inputmask({ "mask": "999.999.999-99" });
        $('#imputCNPJ').inputmask({ "mask": "99.999.999/9999-99" });
        $('#datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            keyboardNavigation: true,
            language: 'pt-BR',
            endDate: new Date(),
            clearBtn: true
        }).on('hide', function (e) { e.stopPropagation(); });

        $('#tabelaClientes').dataTable({
            "dom": "Bfrtip",
            "buttons": [
                {
                    extend: 'excel',
                    header: true,
                    title: 'Clientes',
                    fontSize: '15',
                    exportOptions: {
                        columns: [ 0, 1 ]
                    }
                },
                {
                    extend: 'pdf',
                    header: true,
                    title: 'Clientes',
                    fontSize: '20',
                    exportOptions: {
                        columns: [ 0, 1 ]
                    }
                }
            ],
            "lengthChange": false,
            "drawCallback": function (settings) {
                var json = settings.json;
                $("[name='btnRemove']").click(function () {
                    if (@ViewBag.IdPapel == -1) {
                        var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];
                        $('#IdRemove').val(idSelecionado.Id);
                        $('#modalRemove').modal('show');
                    }
                    else
                        alert("Você não possui permissão para executar esta operação");
                });
                $("[name='btnEdit']").click(function () {
                    var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];

                    $.get('http://localhost:51485/api/clienteCrud/GetClienteDto', { id: idSelecionado.Id } ,function(data){
                        $('#modalAdd :input').each(function () {
                            var me = $(this);
                            if (me && me.context.name) {
                                me.val(data[me.context.name]);
                            }
                        });
                        $('#modalAdd').modal('show');
                    });
                });
            },
            "language": {
                "search": "Pesquisar nome/razão social:",
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Nenhum resultado encontrado",
                "info": "Mostrando _START_ até _END_ de _TOTAL_ registro(s)",
                "infoEmpty": "Monstrando 0 até 0 de 0 registro(s)",
                "infoFiltered": "",
                "processing": "Carregando...",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
            },
            "bServerSide": true,
            "processing": true,
            "ajax": {
                "url": "http://localhost:51485/api/clienteCrud/GetClienteDtoGrid",
                "data": function (d) {
                    return {
                        "draw": d.draw,
                        "start": d.start,
                        "length": d.length,
                        "search": d.search.value,
                        "order": $('th')[d.order[0].column].outerText,
                        "dir": d.order[0].dir,
                        "apenasPF": $('#filtroPF')[0].value,
                        "apenasPJ": $('#filtroPJ')[0].value,
                        "apenasSemProcessoAndamento": $('#filtroSemProcessoAndamento')[0].value,
                    };
                }
            },
            "columns": [
                { "data": "Nome"},
                { "data": "DescricaoSexo", "bSortable": false, "width": 100 },
                { "data": "DescricaoDataNascimento", "width": 70 },
                {
                    "bSortable": false,
                    "data": null,
                    "width": 90,
                    "defaultContent":
                        '<button type="button" name="btnEdit" class="btn btn-primary" style="width:36px; padding-left: 11px; margin: 1px 2px 1px 2px;">' +
                        '<i class= "fa fa-pencil-square-o" ></i>' +
                        '</button>' +
                        '<button type="button" name="btnRemove" class="btn btn-danger" style="width:36px; margin: 1px 2px 1px 2px;">' +
                        '<i class="fa fa-trash"></i>' +
                        '</button>'
                },
                { "data": "Id", "visible": false },
            ]
        });
    });
</script>