@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Cabeçalho da página -->
<section class="content-header">
    <h1>
        Relatórios
        <small>Painel de controle</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-pie-chart"></i> Home</a></li>
        <li class="active">Relatórios</li>
    </ol>
</section>

<!-- Conteúdo principal -->
<section class="content">
    <!-- Box padrão -->
    <div class="box">
        <div class="box-body">
            Página com gráficos
        </div>
        @*<div class="box-footer">
                Footer
            </div>*@
    </div>
</section>
