@model NPJe.FrontEnd.Dtos.GenericInfoComboDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal {
        overflow-y: auto !important;
    }
</style>
<!-- Cabeçalho da página -->
<section class="content-header">
    <h1>
        Alunos
        <small>Lista de alunos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-graduation-cap"></i> Home</a></li>
        <li class="active">Alunos</li>
    </ol>
</section>

<!-- Conteúdo principal -->
<section class="content">
    <!-- Box padrão -->
    <div class="box">
        <div class="box">
            <!-- Cabeçalho do box -->
            <div class="box-header" style="padding-bottom: 0px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6" id="colAdd" style=" text-align: right; padding-right: 0;">
                            <!-- Botão de adicionar -->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAdd" id="btnAdd" style="text-align: right">
                                <i class="fa fa-plus"></i>
                                Adicionar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <!-- Tabela -->
                <table id="tabelaAlunos" class="table table-bordered table-striped">
                    <thead>
                        <!-- Colunas da tabela -->
                        <tr>
                            <th>Nome</th>
                            <th>Grupo</th>
                            <th>Especialidade</th>
                            <th>Sexo</th>
                            <th>Data de nascimento</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Grupo</th>
                            <th>Especialidade</th>
                            <th>Sexo</th>
                            <th>Data de nascimento</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    @* Modal add Aluno *@
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" 
         consultar="false" url="http://localhost:51485/api/alunoCrud/SaveAluno" reload="tabelaAlunos"
         registrosInconsistentes="http://localhost:51485/api/alunoCrud/ExcluirRegistrosInconsistentes">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar aluno</h4>
                </div>

                <div class="box-body">

                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="hidden" id="IdEdit" name="Id" value="0">
                                <label for="inputLogin">Login</label>
                                <input type="text" class="form-control" name="Usuario" required id="inputLogin" placeholder="Digite um login">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputPassword">Senha</label>
                                <input type="password" class="form-control" name="Senha" id="inputPassword" placeholder="Digite uma senha"
                                       readonly onmouseover=" this.removeAttribute('readonly')" onfocus="this.removeAttribute('readonly')">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" style=" padding-left: 30px; padding-right: 30px;">
                        <div class="form-group">
                            <label for="inputNome">Nome</label>
                            <input type="text" class="form-control" required name="Nome" id="inputNome" placeholder="Digite o nome completo">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="imputCPF">CPF</label>
                                <input type="text" class="form-control" name="CPF" id="imputCPF" placeholder="Digite o CPF">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="imputEmail">Email</label>
                                <input type="text" class="form-control" name="Email" id="imputEmail" placeholder="Digite o email">
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="comboSexo">Sexo</label>
                                <select class="form-control" id="comboSexo" required name="Sexo" placeholder="Selecione o sexo">
                                    <option value="">Escolha...</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="imputMatricula">Matrícula</label>
                                <input type="number" class="form-control" name="Matricula" id="imputMatricula" placeholder="Digite a matrícula">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="imputSemestre">Semestre</label>
                                <input type="number" class="form-control" name="Semestre" id="imputSemestre" placeholder="Digite o semestre">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="datepicker">Data de nascimento</label>
                                <input type="text" class="form-control pull-right" name="DescricaoDataNascimento" id="datepicker" placeholder="Selecione a data">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="imputTelefone">Telefone</label>
                                <input type="text" class="form-control" name="Telefone" id="imputTelefone" placeholder="Digite o telefone fixo">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="imputCelular">Celular</label>
                                <input type="text" class="form-control" name="Celular" id="imputCelular" placeholder="Digite o celular">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label for="checkStatus" style="margin-left: 1px; margin-bottom: 5px;">Status</label><br />
                            <input type="checkbox" id="checkStatus" default="true" name="Ativo">
                        </div>
                    </div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#grupos" data-toggle="tab">Grupos</a></li>
                            <li><a href="#especialidades" data-toggle="tab">Especialidades</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="grupos">
                            <div class="box">
                                <div class="box-header" style="background-color:#ecf0f5; border-bottom:2px solid #d2d6de !important; padding-bottom: 4px;padding-top: 4px;">
                                    <div class="col-sm-6">
                                        <label style="padding-top: 5px;">Grupos</label>
                                    </div>
                                    <div class="col-sm-6" id="colAdd" style=" text-align: right; padding-right: 0;">
                                        <!-- Botão de adicionar -->
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddGrupo" id="btnAddGrupo" style="text-align: right">
                                            <i class="fa fa-plus"></i>
                                            Adicionar
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <table id="tabelaGruposAluno" name="AlunoGrupoGrid" class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Grupo</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <div class="tab-pane" id="especialidades">
                            <div class="box">
                                <div class="box-header" style="background-color:#ecf0f5; border-bottom:2px solid #d2d6de !important; padding-bottom: 4px;padding-top: 4px;">
                                    <div class="col-sm-6">
                                        <label style="padding-top: 5px;">Especialidades</label>
                                    </div>
                                    <div class="col-sm-6" id="colAdd" style=" text-align: right; padding-right: 0;">
                                        <!-- Botão de adicionar -->
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddEspecialidade" id="btnAddGrupo" style="text-align: right">
                                            <i class="fa fa-plus"></i>
                                            Adicionar
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <table id="tabelaEspecialidadesAluno" name="AlunoEspecialidadeGrid" class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Especialidade</th>
                                                <th>Disponibilidade</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal add AlunoGrupo *@
    <div class="modal fade" id="modalAddGrupo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" grid="AlunoGrupoGrid" url="http://localhost:51485/api/alunoCrud/SaveAlunoGrupo" reload="tabelaGruposAluno">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Vincular aluno a um grupo</h4>
                </div>

                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="hidden" id="IdGrupoEdit" name="Id" value="0">
                            <input type="hidden" id="IdAlunoG" name="IdAluno" value="0">
                            <label for="comboGrupo">Grupo</label>
                            <br />
                            <select class="form-control" name="IdGrupo" id="comboGrupo" required placeholder="Escolha o grupo" style="width:100%"></select>
                        </div>
                    </div>
                    <div class="col-md-7">
                    </div>
                    <div class="col-md-5">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm1" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal Remove AlunoGrupo *@
    <div class="modal fade" id="modalRemoveAlunoGrupo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" grid="AlunoGrupoGrid" url="http://localhost:51485/api/alunoCrud/RemoveAlunoGrupo" reload="tabelaGruposAluno">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Remover vínculo de aluno com grupo</h4>
                </div>

                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Deseja mesmo excluir este registro?</label>
                            <input type="hidden" id="IdRemoveAlunoGrupo" name="Id">
                        </div>
                    </div>

                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm1" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal add AlunoEspecialidade *@
    <div class="modal fade" id="modalAddEspecialidade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" grid="AlunoEspecialidadeGrid" url="http://localhost:51485/api/alunoCrud/SaveAlunoEspecialidade" reload="tabelaEspecialidadesAluno">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Vincular aluno a uma especialidade</h4>
                </div>

                <div class="box-body" style="padding-top: 2px;">
                    <div class="col-sm-6">
                        <div class="form-group" style="padding-top: 8px;">
                            <input type="hidden" id="IdAlunoEspecialidadeEdit" name="Id" value="0">
                            <input type="hidden" id="IdAlunoE" name="IdAluno" value="0">
                            <label for="comboEspecialidade">Especialidade</label>
                            <select class="form-control" name="IdEspecialidade" id="comboEspecialidade" required placeholder="Escolha a especialidade" style="margin-top: 4px;">
                                <option value="">Escolha...</option>
                                @foreach (var item in ViewBag.Especialidades)
                                {
                                    <option value="@item.id"> @item.text </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-6" style="padding-top: 8px;">
                                <label>Disponibilidade</label>
                            </div>
                            <div class="col-sm-6" style="display: flex; justify-content: flex-end; padding-right: 2px;">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalDataHora"
                                        id="btnAddHorario" style="width: 36px; margin: 1px 2px 2px 0px; padding-left: 11px;">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modaRemovelDataHora"
                                        id="btnAddHorario" style="margin: 1px 0px 2px 2px; width:36px;">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <select class="form-control" id="HorariosGrid" name="DisponibilidadeGrid" multiple
                                    data-placeholder="Nenhuma disponibilidade encontrada" style="width: 100%;" removeHtml="1"
                                    tabindex="-1" aria-hidden="true"></select>
                        </div>
                    </div>
                    <div class="col-md-7">
                    </div>
                    <div class="col-md-5">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm1" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal Remove AlunoEspecialidade *@
    <div class="modal fade" id="modalRemovelAlunoEspecialidade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" grid="AlunoEspecialidadeGrid" url="http://localhost:51485/api/alunoCrud/RemoveAlunoEspecialidade" reload="tabelaEspecialidadesAluno">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Remover vínculo de aluno com especialidade</h4>
                </div>

                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Deseja mesmo excluir este registro?</label>
                            <input type="hidden" id="IdRemoveAlunoEspecialidade" name="Id">
                        </div>
                    </div>

                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm1" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal add DataHora *@
    <div class="modal fade" id="modalDataHora" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" grid="DisponibilidadeGrid" option="1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Dia e horário</h4>
                </div>
                <div class="box-body">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="hidden" id="IdDisponibilidadeEdit" name="Id" value="0">
                            <input type="hidden" id="IdAlunoEspecialidade" name="IdAlunoEspecialidade" value="0">
                            <label>Dia da semana</label>
                            <select class="form-control" name="IdDiaSemana" id="comboDiaSemana" required placeholder="Escolha o dia da semana" rawValue="1">
                                <option value="">Escolha...</option>
                                @foreach (var item in ViewBag.DiaSemana)
                                {
                                    <option value="@item.id"> @item.text </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <fieldset>
                                <label>Horário</label>
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="col-sm-5" style="padding-left: 0px; padding-right: 0px;">
                                            <input type="text" id="timepicker1" name="HorarioInicio" required class="form-control timepicker" rawvalue="1">
                                        </div>
                                        <div class="col-sm-2" style="padding-right: 0px; padding-left: 10px; padding-top: 5px;">
                                            <label>até</label>
                                        </div>
                                        <div class="col-sm-5" style="padding-left: 0px; padding-right: 0px;">
                                            <input type="text" id="timepicker2" name="HorarioFim" required class="form-control timepicker" rawvalue="1">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-7">
                    </div>
                    <div class="col-md-5">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm1" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal Remove DataHora *@
    <div class="modal fade" id="modaRemovelDataHora" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" grid="DisponibilidadeGrid" excluir="1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Remover Dia e horário</h4>
                </div>

                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Deseja mesmo excluir este(s) registro(s)?</label>
                            <input type="hidden" id="IdRemoveDataHora" name="Id">
                        </div>
                    </div>

                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm1" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $('#imputTelefone').inputmask({ "mask": "(99) 9999-9999" });
        $('#imputCelular').inputmask({ "mask": "(99) 9 9999-9999" });
        $('#datepicker').inputmask({ "alias": "dd/mm/yyyy" });
        $('#imputCPF').inputmask({ "mask": "999.999.999-99" });
        $("#timepicker1").inputmask({ "mask": "99:99" });
        $("#timepicker2").inputmask({ "mask": "99:99" });
        $('#datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            keyboardNavigation: true,
            language: 'pt-BR',
            endDate: new Date(),
            clearBtn: true
        }).on('hide', function (e) { e.stopPropagation(); });
        $('#comboGrupo').select2({
            "placeholder": "Pesquise o grupo",
            "dropdownParent": $("#modalAddGrupo"),
            "allowClear": true,
            "dataType": 'json',
            "type": 'GET',
            "ajax": {
                "url": "http://localhost:51485/api/alunoCrud/GetGrupoComboDto",
                "dataType": 'json',
                "data": function (params) {
                    return {
                        search: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                    results: response.results
                    };
                },
                cache: true
            },
        }).data('select2').$selection.css('height', '34px');
        $('#checkStatus').bootstrapToggle({
            on: "Ativo",
            off: "Inativo",
            width: 182
        }).change(function () { this.value = $(this).prop('checked'); });

        $('#tabelaAlunos').dataTable({
            "dom": "Bfrtip",
            "buttons": [{
                extend: 'excel',
                header: true,
                title: 'Alunos',
                fontSize: '15',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4]
                }
            },
            {
                extend: 'pdf',
                header: true,
                title: 'Aluno',
                fontSize: '20',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4]
                }
                }],
            "drawCallback": function (settings) {
                var json = settings.json;
                $("[name='btnRemoveAluno']").click(function () {
                    var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];
                    $('#IdRemoveAluno').val(idSelecionado.Id);
                    $('#modalRemoveAluno').modal('show');
                });
                $("[name='btnEditAluno']").click(function () {
                    var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];

                    $.get('http://localhost:51485/api/alunoCrud/GetAlunoDto', { id: idSelecionado.Id } ,function(data){
                        $('#modalAdd :input').each(function () {
                            var me = $(this);
                            if (me && me.context.name) {
                                if (me.context.id.includes("check")) 
                                    me.prop('checked', data[me.context.name]).change();
                                else
                                    me.val(data[me.context.name]);
                            }
                        });
                        $('#modalAdd').modal('show');
                    }); 
                }); 
            },
            "lengthChange": true,
            "responsive": {
                "details": false
            },
            "language": {
                "search": "Pesquisar:",
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Nenhum resultado encontrado",
                "info": "Mostrando _START_ até _END_ de _TOTAL_ registro(s)",
                "infoEmpty": "Monstrando 0 até 0 de 0 registro(s)",
                "infoFiltered": "",
                "processing": "Carregando...",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
            },
            "bServerSide": true,
            "processing": true,
            "ajax": {
                "url": "http://localhost:51485/api/alunoCrud/GetAlunoDtoGrid",
                "data": function (d) {
                    return {
                        "draw": d.draw,
                        "start": d.start,
                        "length": d.length,
                        "search": d.search.value,
                        "order": $('th')[d.order[0].column].outerText,
                        "dir": d.order[0].dir
                    };
                }
            },
            "columns": [
                { "data": "Nome", "width": "20%" },
                { "data": "Grupo", "bSortable": false },
                { "data": "Especialidade", "bSortable": false },
                { "data": "DescricaoSexo", "bSortable": false, "width": 70 },
                { "data": "DescricaoDataNascimento", "width": 70 },
                {
                    "bSortable": false,
                    "data": null,
                    "width": 90,
                    "defaultContent":
                        '<button type="button" name="btnEditAluno" class="btn btn-primary" style="width:36px; padding-left: 11px; margin: 1px 2px 1px 2px;">' +
                        '<i class= "fa fa-pencil-square-o" ></i>' +
                        '</button>' +
                        '<button type="button" name="btnRemoveAluno" class="btn btn-danger" style="width:36px; margin: 1px 2px 1px 2px;">' +
                        '<i class="fa fa-trash"></i>' +
                        '</button>'
                },
                { "data": "Id", "visible": false },
            ]
        });

        $('#tabelaGruposAluno').dataTable({
            "paging": false,
            "searching": false,
            "scrollY": "100px",
            "scrollCollapse": true,
            "lengthChange": false,
            "bServerSide": true,
            "processing": true,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Nenhum resultado encontrado",
                "info": "Mostrando _START_ até _END_ de _TOTAL_ registro(s)",
                "infoEmpty": "Monstrando 0 até 0 de 0 registro(s)",
                "infoFiltered": "",
                "processing": "Carregando...",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
            },
            "ajax": {
                "url": "http://localhost:51485/api/alunoCrud/GetAlunoGrupoGrid",
                "data": function (d) {
                    return {
                        "order": $('th')[d.order[0].column].outerText,
                        "dir": d.order[0].dir,
                        "consultar": $('#modalAdd')[0].getAttribute('consultar'),
                        "idAluno": $('#modalAdd [name=Id]')[0].value
                    };
                }
            },
            "columns": [
                { "data": "DescricaoGrupo" },
                {
                    "bSortable": false,
                    "data": null,
                    "width": 80,
                    "defaultContent":
                        '<button type="button" name="btnEditGrupo" class="btn btn-primary" style="width:36px; padding-left: 11px; margin: 1px 2px 1px 2px;">' +
                        '<i class= "fa fa-pencil-square-o" ></i>' +
                        '</button>' +
                        '<button type="button" name="btnRemoveGrupo" class="btn btn-danger" style="width:36px; margin: 1px 2px 1px 2px;">' +
                        '<i class="fa fa-trash"></i>' +
                        '</button>'
                },
                { "data": "Id", "visible": false }
            ],
            "drawCallback": function (settings) {
                var json = settings.json;
                $("[name='btnRemoveGrupo']").click(function () {
                    var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];
                    $('#IdRemoveAlunoGrupo').val(idSelecionado.Id);
                    $('#modalRemoveAlunoGrupo').modal('show');
                });
                $("[name='btnEditGrupo']").click(function () {
                    var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];
                    
                    $('#modalAddGrupo :input').each(function () {
                        var me = $(this);
                        if (me && me.context.name) { 
                            me.val(idSelecionado[me.context.name]);
                            if (me.context.id == "comboGrupo") {
                                var $newOption = $("<option selected='selected'></option>").val(idSelecionado.IdGrupo).text(idSelecionado.DescricaoGrupo)
                                me.append($newOption).trigger('change');
                            }
                        }
                    });
                    $('#modalAddGrupo').modal('show');
                }); 
            }
        });

        $('#tabelaEspecialidadesAluno').dataTable({
            "paging": false,
            "searching": false,
            "scrollY": "100px",
            "scrollCollapse": true,
            "lengthChange": false,
            "bServerSide": true,
            "processing": true,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Nenhum resultado encontrado",
                "info": "Mostrando _START_ até _END_ de _TOTAL_ registro(s)",
                "infoEmpty": "Monstrando 0 até 0 de 0 registro(s)",
                "infoFiltered": "",
                "processing": "Carregando...",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
            },
            "ajax": {
                "url": "http://localhost:51485/api/alunoCrud/GetAlunoEspecialidadeGrid",
                "data": function (d) {
                    return {
                        "order": $('th')[d.order[0].column].outerText,
                        "dir": d.order[0].dir,
                        "consultar": $('#modalAdd')[0].getAttribute('consultar'),
                        "idAluno": $('#modalAdd [name=Id]')[0].value
                    };
                }
            },
            "columns": [
                { "data": "DescricaoEspecialidade", "width": "25%" },
                { "data": "Disponibilidade" },
                {
                    "bSortable": false,
                    "data": null,
                    "width": 90,
                    "defaultContent":
                        '<button type="button" name="btnEditEspecialidade" class="btn btn-primary" style="width:36px; padding-left: 11px; margin: 1px 2px 1px 2px;">' +
                        '<i class= "fa fa-pencil-square-o" ></i>' +
                        '</button>' +
                        '<button type="button" name="btnRemoveEspecialidade" class="btn btn-danger" style="width:36px; margin: 1px 2px 1px 2px;">' +
                        '<i class="fa fa-trash"></i>' +
                        '</button>'
                },
                { "data": "Id", "visible": false }
            ],
            "drawCallback": function (settings) {
                var json = settings.json;
                $("[name='btnRemoveEspecialidade']").click(function () {
                    var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];
                    $('#IdRemoveAlunoEspecialidade').val(idSelecionado.Id);
                    $('#modalRemovelAlunoEspecialidade').modal('show');
                });
                $("[name='btnEditEspecialidade']").click(function () {
                    var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];
                    
                    $('#modalAddEspecialidade :input').each(function () {
                        var me = $(this);
                        if (me && me.context.name) {
                            var value = idSelecionado[me.context.name];
                            if (value && value.length && value.length > 0) {
                                value.forEach(x => {
                                    var grid = $('#HorariosGrid')[0];
                                    var stringValue = JSON.stringify(x).replace(/"/g, "'");
                                    grid.innerHTML = grid.innerHTML + '<option value="' + stringValue + '"> ' +
                                        x.DescricaoDiaSemana + ' - ' + x.HorarioInicio.substr(0, 5) + ' até ' + x.HorarioFim.substr(0, 5) + ' </option>';
                                });
                            }
                            else if(value)
                                me.val(value);
                        }
                    });
                    $('#modalAddEspecialidade').modal('show');
                }); 
            }
        });
        
    });
</script>
